.App {
background-color: aqua;
width: 1000px;
height: 1000px;
display: inline-block;
}
.header{
  width: 990px;
  height: 150px;
  background-color: blue;
  margin: 5px;
}
.nav{
  width: 250px;
  height: 550px;
  background-color: chartreuse;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}
.main{
  display: inline-block;
  width: 730px;
  height: 750px;
  background-color: crimson;
  margin: 5px;
}

.sub{
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 450px;
  background-color:darkgreen;
  margin: 5px;
}
.add{

  width: 740px;
  height: 150px;
  background-color:silver;
  margin: 5px;
}